.main-container{
    width: 100vw;
    height: 100vh;
    background-image: url(background5.jpg);
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: center center;
}
.main-container .col button img{
    width: 100%;
    height: 100%;
}
.container{
    border-radius: 10px;
     text-align: center;
    justify-content: center;
    align-items: center;
    
}

 
.container .row .col h1{
    font-style: oblique;
}
.main-container table{
    position:  absolute;
    margin-top:10%;
    margin-left: 10%;
}

 
.main-container table td {
    padding: 10px;
    color: white;
    font-size: 25px;
}

.container h1,h2,h5{
    color: white;
}

.img-fluid{
    height: 50%;
    width: 50%;
}

@media only screen and (min-width: 390px) and (max-width:768px) {
    .container button{
        font-size: 15px;
        margin-left: ' 5px';
    }
    .main-container table td{
        font-size: 10px;
        
    }
    .container{
        padding: 10%;
    }
    .container .h1{
        position: relative;
        padding: 0%;
        margin: -17%;
        font-size: 39px;
    }
    .container h5{
        position: relative;
        padding: 0%;
        margin: 3%;
        font-size: 15px;
    }
    .img-fluid{
        height:90%;
        width:100%;
    }
  }


 


